# Project-specific files and folders
algorithm/src/scripts/
MATRIX_30x30/
venv/


# Secrets
.env

# Log files
*.log

# YOLO cache files
*.cache

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

