# Project-specific files and folders
MATRIX_30x30/
venv/
.claude/
/dataset/visdrone/backups
/dataset/visdrone/images
/dataset/visdrone/labels

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
