datasets/VisDrone
#datasets/MATRIX_yolo_format

models/pretrained
models/trained
*.pt

*.log 
__pycache__/
*.pyc

datasets/MATRIX_yolo_format/D1
datasets/MATRIX_yolo_format/D2
datasets/MATRIX_yolo_format/D3
datasets/MATRIX_yolo_format/D4
datasets/MATRIX_yolo_format/D5
datasets/MATRIX_yolo_format/D6
datasets/MATRIX_yolo_format/D7
datasets/MATRIX_yolo_format/D8

datasets/MATRIX_yolo_format